body {
  background-image: url('./buttons/222.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vh;

}


.header {

  color: #FAFF1D;
  padding-left: 5vh;
  font-family: 'Press Start 2P', cursive;
}
.inner {
  position: absolute;
}
.score {
  color: #FAFF1D;
  padding-left: 5vh;
  font-family: 'Press Start 2P', cursive;
}

.container{
  padding-top: 70vh;
align-items: center;
padding-left: 20vh;
display: flex;
}

.buttonOff
{
  pointer-events: none;
}

.btn {
  font-family: sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
display: inline-block;
  border-radius: 8px;
  transition: all 0.3s ease;
  height: 200px;
  float: right;
  width: 200px;
  text-align: center;
  display: inline-block;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

.blue{
    background-image: url('./buttons/blueb.jpg');
}
.red{
    background-image: url('./buttons/redb.png');
}
.green{
    background-image: url('./buttons/greenb.png');
}
.yellow{
    background-image: url('./buttons/yellowb.png');
}



.pressedyellow {
  box-shadow: 0 0 80px yellow;
  background-color: yellow;
  border:30px solid yellow;
outline-color:yellow;
outline-style:inset;
}
.pressed {
  box-shadow: 0 0 80px magenta;
  background-color: magenta;
  border:30px solid magenta;
outline-color: magenta;
outline-style:inset;
}
.presedblue {
  box-shadow: 0 0 80px blue;
  background-color: blue;
  border:30px solid blue;
outline-color:blue;
outline-style:inset;
}
.pressedgreen {
  box-shadow: 0 0 80px green;
  background-color: green;
  border:30px solid green;
outline-color:green;
outline-style:inset;
}



body {
    background:#111;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight:600;
}



:root {
  /* Base font size */
  font-size: 10px;

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

body {
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
    padding-top: 15vh;
    padding-left: 25vh;
  align-items: center;
  height: 100px;
}



h2 {
  font-size: 13rem;
  font-weight: 200;
  padding-top: 15vh;
  padding-left: 15vh;
  font-style: italic;
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

h2::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h2::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h2:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}
